.quote-machine {
  --purple: #271c3e;
  --red: #e61d27;
  --blue: #01a7a8;
  --orange: #f28801;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #fff;
  position: relative;

  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: "Playfair Display", serif;
  }

  a {
    color: #fff;
  }

  footer {
    position: relative;
    bottom: 0;
  }

  .logo-container {
display: flex;
width: 100%;
height: 75px;
margin: 25px 0 0 25px;
  }

  .logo {
    height: 100%;
    width: auto;
  }

  .app-container {
    display: flex;
    flex-direction: column;
  
    .quote-container {
      display: flex;
      justify-content: space-evenly;
    }
  }



  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 60%;
    text-align: center;

    
  }

  .author-container {
    display: grid;
    grid-template:
      ". auth twit" 1fr
      / 1fr 1fr 1fr;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    text-align: center;

    .author-text {
      grid-area: auth;
    }
  }

  .twitter-link-container {
    grid-area: twit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .fab {
    color: #fff;
    font-size: 1.5em;
  }

  .new-quote-btn {
    height: 40px;
    width: 175px;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 auto 0 auto;
    border: 2px solid #fff;
  }

  .quote-mark {
    font-size: 6em;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    margin: 0;
  }


  .credit {
    font-weight: normal;
    margin-top: 25px;
    text-align: center;
    font-size: 0.9em;
    max-width: 300px;
  }

  /*Start color change styles*/

  .color-1 {
    background-color: var(--purple);
  }

  .color-2 {
    background-color: var(--red);
  }

  .color-3 {
    background-color: var(--blue);
  }

  .color-4 {
    background-color: var(--orange);
  }

  /* -------------- Spinner animation ---------------------- */

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
}
/*----------------- Responsive behavior ---------------------*/

@media screen and (min-width: 768px) {
  .quote-machine {
    footer {
      position: fixed;
      bottom: 0;
    }

    .grid-container {
      margin-top: 100px;
      max-width: 850px;
    }

    .text-container {
      font-size: 1.5em;
    }
  
    .twitter-link-container {
      justify-content: flex-start;
    }
    .credit {
      max-width: 600px;
    }
  }
}
