$color-black: #030000;
$color-grey: #343434;
$color-yellow: #f5cd23;

body {
  background-color: $color-black;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-family: "Lato", sans-serif;
}

/* ------------- Navbar Style ------------------- */

.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey;
  width: 100%;
  height: 100px;
  z-index: 1001;

  .logo-container {
    margin-left: 80px;
  }

  .menu {
    display: flex;
    margin-right: 70px;

    a {
      margin: 15px;
      color: #fff;
      text-decoration: none;
    }
  }
}

/* ------------- Hero Section Style -------------------- */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  height: 100vh;
  width: 100%;

  h1 {
    color: $color-yellow;
    font-size: 300%;
  }

  p {
    display: flex;
    width: 35%;
    min-width: 350px;
    text-align: center;
  }

  .hero-btn-container {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 200px;

    .button {
      background-color: $color-yellow;
      color: $color-black;
      margin: 35px;
      border: none;
      width: 110px;
      height: 35px;
      border-radius: 3px;
    }
  }
}

/* ------------------- Projects Section Style -------------- */

.projects-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
  background-color: #fff;
  color: $color-black;
  padding: 80px 15% 0 15%;

  .project {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 100px;

    .project-grid {
      display: grid;
      position: relative;
      max-width: 100%;

      .text-container {
        grid-area: t;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15px;
        z-index: 100;

        h2 {
          margin-bottom: 5px;
        }

        p {
          margin-top: 0;
        }
      }
    }

    .project-grid.left {
      grid-template:
        ". . . t t" 0.5fr
        "i i i i ." 1fr
        "i i i i ." 1fr
        "i i i i ." 1fr
        / 1fr 1fr 1fr 1fr 1fr;
    }

    .project-grid.right {
      grid-template:
        "t t . . ." 0.5fr
        ". i i i i" 1fr
        ". i i i i" 1fr
        ". i i i i" 1fr
        / 1fr 1fr 1fr 1fr 1fr;

      .text-container {
        text-align: end;
      }
    }

    .project-grid img {
      grid-area: i;
      min-width: 350px;
      max-width: 600px;
    }
  }

  .left {
    justify-items: flex-start;
  }

  .right {
    justify-content: flex-end;
  }
}

.exit-button {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 24px;
  color: #fff;
}

/* ----------------- Footer Style ----------------- */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;

  .logo {
    height: 78px;
    width: 52px;
  }

  .social-container {
    display: flex;
    justify-content: center;
    min-width: 200px;
    margin-top: 30px;

    .social-icon {
      margin: 0 10px 0 10px;
    }
  }

  .contact {
    margin-top: 30px;
  }

  .credit {
    margin: 30px 0 30px 0;

    a {
      color: $color-yellow;
    }
  }
}

/* ------------------- Mini-app Style -------------- */

.mini-app {
  display: none;
}

/* ------------------- Slider Style -------------- */

.slider-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: flex-end;
  height: 85.714%;
  width: 80%;
  min-width: 552px;
  background-color: $color-black;
}

.slider-box.right {
  right: 0;
}

.slider-bar {
  flex: 1;
  background: #fff;
}

.horizontal-slider-open {
  animation-name: horizontal-slider-open;
  width: 0%;
  animation-play-state: paused;
}

.vertical-slider-open {
  animation-name: vertical-slider-open;
  height: 0%;
  animation-play-state: paused;
}

.horizontal-slider-close {
  animation-name: horizontal-slider-close;
  width: 100%;
  animation-play-state: paused;
}

.vertical-slider-close {
  animation-name: vertical-slider-close;
  height: 100%;
  animation-play-state: paused;
}

.play {
  animation-play-state: running;
}

/* ------------------- Slider Animation ------------- */

@keyframes horizontal-slider-open {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes vertical-slider-open {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

@keyframes horizontal-slider-close {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes vertical-slider-close {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.slider-1 {
  align-items: flex-end;
  @for $i from 1 through 5 {
    $time: 2 / #{$i};
    .bar-#{$i} {
      animation-duration: #{$time}s;
    }
  }
}

.slider-2 {
  flex-direction: row;
  @for $i from 1 through 7 {
    @if $i == 1 or $i == 7 {
      .bar-#{$i} {
        animation-duration: 1.3s;
      }
    } @else if $i == 2 or $i == 6 {
      .bar-#{$i} {
        animation-duration: 1.15s;
      }
    } @else if $i == 3 or $i == 5 {
      .bar-#{$i} {
        animation-duration: 0.9s;
      }
    } @else {
      .bar-#{$i} {
        animation-duration: 0.65s;
      }
    }
  }
}

.slider-3 {
  flex-direction: row;
  align-items: flex-end;

  .bar-1 {
    animation-duration: 0.9s;
    animation-timing-function: linear;
  }
  .bar-2 {
    animation-duration: 0.6s;
    animation-timing-function: linear;
  }
  .bar-3 {
    animation-duration: 0.5s;
    animation-timing-function: linear;
  }
  .bar-4 {
    animation-duration: 0.7s;
    animation-timing-function: linear;
  }
}

.slider-4 {
  .bar-1 {
    animation-duration: 0.9s;
    animation-timing-function: linear;
  }
  .bar-2 {
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  .bar-3 {
    animation-duration: 1s;
    animation-timing-function: ease;
  }
  .bar-4 {
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }
  .bar-5 {
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  .bar-6 {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .bar-7 {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .bar-8 {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .bar-9 {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  .bar-10 {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .bar-11 {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.slider-5 {
  flex-direction: row;
  .bar-1 {
    animation-duration: 1.2s;
  }
  .bar-2 {
    animation-duration: 1s;
  }
  .bar-3 {
    animation-duration: 0.8s;
  }
  .bar-4 {
    animation-duration: 1.1s;
  }
  .bar-5 {
    animation-duration: 0.9s;
  }
  .bar-6 {
    animation-duration: 1s;
  }
}

// ---------------- Projects Image Disappear Animation ----------------

@keyframes hide-image {
  from {
    width: 0%;
    height: 100%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}

.big-slider {
  height: 0%;
  width: 0%;
  background-color: #fff;
}

.disappear {
  animation: hide-image 1.5s;
}

// ---------------- App Appear Animation ----------------

@keyframes show-app {
  from { 
    height: 0%;
  }
  to {
    height: 80%;
  }
}

.app-hide {
  animation: show-app 1.5s;
}