$color-black: #030000;
$color-grey: #343434;
$color-yellow: #f5cd23;

body {
  background-color: $color-black;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-family: "Lato", sans-serif;
}

%yellow-button {
background-color: #f5cd23;
color: #030000;
margin: 35px;
border: none;
width: 110px;
height: 35px;
border-radius: 3px;
}

/* ------------- Navbar Style ------------------- */

.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey;
  width: 100%;
  height: 100px;
  z-index: 1001;

  .logo-container {
    margin-left: 80px;
  }

  .menu {
    display: flex;
    margin-right: 70px;

    a {
      margin: 15px;
      color: #fff;
      text-decoration: none;
    }
  }
}

/* ------------- Hero Section Style -------------------- */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  height: 100vh;
  width: 100%;
  padding-top: 75px;

  h1 {
    color: $color-yellow;
    font-size: 300%;
  }

  p {
    display: flex;
    width: 35%;
    min-width: 350px;
    text-align: center;
  }

  .hero-btn-container {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 200px;

    .button {
      @extend %yellow-button;
    }
  }
}

/* ------------------- Projects Section Style -------------- */

.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: auto;
  background-color: #fff;
  color: $color-black;
  padding: 80px 15% 0 15%;

  .projects-header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-black;
    color: $color-yellow;
    height: 100px;
    width: 100vw;
  }

  .project {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 25px;
    margin-bottom: 100px;

    .project-grid {
      display: grid;
      position: relative;
      max-width: 100%;

      .text-container {
        grid-area: t;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15px;
        z-index: 200;
        text-decoration: none;
        color: $color-black;

        a {
          text-decoration: none;
          color: $color-black;
        }

        h2 {
          margin-bottom: 5px;
        }

        p {
          margin-top: 0;
        }
      }
    }

    .project-grid.left {
      grid-template:
        ". . . t t" 0.5fr
        "i i i i ." 1fr
        "i i i i ." 1fr
        "i i i i ." 1fr
        / 1fr 1fr 1fr 1fr 1fr;
    }

    .project-grid.right {
      grid-template:
        "t t . . ." 0.5fr
        ". i i i i" 1fr
        ". i i i i" 1fr
        ". i i i i" 1fr
        / 1fr 1fr 1fr 1fr 1fr;

      .text-container {
        text-align: end;
      }
    }

    .project-grid a  {
      grid-area: i;
      z-index: 100;

      img{
        max-width: 552px;
      }
    }
  }

  .left {
    justify-items: flex-start;
  }

  .right {
    justify-content: flex-end;
  }
}


/* ----------------- About Style ----------------- */

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 50px 10% 0 10%;
  background-color: #fff;
  color: #030000;

  .bio {
    display: flex;
    width: 100%;
    height: 120vh;

    .centering {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;

      .text-container {
        width: 50%;
      }

    } 
    .image-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
    }
  
    img {
      height: 65%;
      max-height: 1000px;
      width: auto;
    }   
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: $color-black;
    color: #fff;
    padding-bottom: 25px;


    h2 {
      color: $color-yellow;
      font-size: 42px;
    }
    
    p {
      margin: 0 0 10px 0;
      font-size: 18px;
    }

    button {
      @extend %yellow-button;
    }
  }

  .resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;

    h3 {
      font-size: 22px;
      font-weight: 200;
    }

    .button {
      @extend %yellow-button;
    }
  }
}

/* ----------------- Contact Style ----------------- */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  background-color: #fff;
  color: $color-black;
  padding: 120px 0 100px 0;


  .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    img {
      height: 50px;
      width: auto;
      color: $color-black;
      margin-top: 25px;
    }
  }


}

/* ----------------- Footer Style ----------------- */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;

  .logo {
    height: 78px;
    width: 52px;
  }

  .social-container {
    display: flex;
    justify-content: center;
    min-width: 200px;
    margin-top: 30px;

    .social-icon {
      margin: 0 10px 0 10px;
    }
  }


  .credit {
    margin: 30px 0 30px 0;

    a {
      color: $color-yellow;
    }
  }
}

/* ------------------- Slider Style -------------- */

.slider-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  grid-area: i;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  background-color: transparent;
}

.slider-box.right {
  right: 0;
}

.slider-bar {
  flex: 1;
  background: #fff;
}

.horizontal-slider-open {
  width: 0;
}

.horizontal-slider-close {
  width: 100%;
}

.vertical-slider-open {
  height: 0%;
}

.vertical-slider-close {
  height: 100%;
}

/* ------------------- Slider Animation ------------- */

.slider-1 {
  align-items: flex-end;
  @for $i from 1 through 5 {
    $time: 3 / #{$i};
    .bar-#{$i} {
      -webkit-transition: width #{$time}s; /* Safari */
      transition: width #{$time}s;
    }
  }
}

.slider-2 {
  flex-direction: row;
  @for $i from 1 through 7 {
    @if $i == 1 or $i == 7 {
      .bar-#{$i} {
        -webkit-transition: 1.3s;
        transition: 1.3s;
      }
    } @else if $i == 2 or $i == 6 {
      .bar-#{$i} {
        -webkit-transition: 1.15s;
        transition: 1.15s;
      }
    } @else if $i == 3 or $i == 5 {
      .bar-#{$i} {
        -webkit-transition: 0.9s;
        transition: 0.9s;
      }
    } @else {
      .bar-#{$i} {
        -webkit-transition: 0.65s;
        transition: 0.65s;
      }
    }
  }
}

.slider-3 {
  flex-direction: row;
  align-items: flex-end;

  .bar-1 {
    -webkit-transition: 0.9s;
    transition: 0.9s;
    transition-timing-function: linear;
  }
  .bar-2 {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    transition-timing-function: linear;
  }
  .bar-3 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transition-timing-function: linear;
  }
  .bar-4 {
    -webkit-transition: 0.7s;
    transition: 0.7s;
    transition-timing-function: linear;
  }
}

.slider-4 {
  .bar-1 {
    -webkit-transition: 0.9s;
    transition: 0.9s;
    transition-timing-function: linear;
  }
  .bar-2 {
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: linear;
  }
  .bar-3 {
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: ease;
  }
  .bar-4 {
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: ease-in;
  }
  .bar-5 {
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: ease-out;
  }
  .bar-6 {
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .bar-7 {
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .bar-8 {
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .bar-9 {
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  .bar-10 {
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .bar-11 {
    -webkit-transition: 1s;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.slider-5 {
  flex-direction: row;
  .bar-1 {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    transition-timing-function: ease;
  }
  .bar-2 {
    -webkit-transition: 1.2s;
    transition: 1.2s;
    transition-timing-function: ease;
  }
  .bar-3 {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    transition-timing-function: ease;
  }
  .bar-4 {
    -webkit-transition: 1.3s;
    transition: 1.3s;
    transition-timing-function: ease;
  }
  .bar-5 {
    -webkit-transition: 0.9s;
    transition: 0.9s;
    transition-timing-function: ease;
  }
  .bar-6 {
    -webkit-transition: 1.2s;
    transition: 1.2s;
    transition-timing-function: ease;
  }
}

